<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="layout.css">
    <title>Layout</title>
</head>
<body>
    <div class="container">
        <div id="cabecalho">
            Header
           </div> 
           <div id="menu">
            Nav
           </div>
           <div id="principal">
            Main
           </div>
           <div id="lado">
            Aside
           </div>
           <div id="rodape">
            Footer
           </div>
    </div>
</body>
</html>