@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    box-sizing: border-box;
    background-color: hsla(84, 34%, 78%, 0.679);
}

.container-grid{
    display: grid;
    height: 100vh;
    width: 100vw;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: repeat(10,auto);
    grid-template-areas: "nav nav nav nav"
                        "main-img main-img main-texto main-texto"
                        "txt txt txt txt"
                        "content content content content"
                        "content content content content"
                        "content content content content"
                        "content content content content"
                        "content content content content"
                        "content content content content"
                        "footer footer footer footer";
}
#nav-bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background-color: black ;
    grid-area: nav;
}
#img-logo{
    background-color: transparent;
}

#nav-bar ul, a{
    display: flex;
    list-style: none;
    text-decoration: none;
    color: white;
    background-color: transparent;
}
#nav-bar li{
    padding: 1em;
    margin-right: 3em;
    background-color: transparent;
}
#main{
    background-image: url(images/happy-family.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    grid-area: main-img;
}
.texto-main{
    padding: 1vh;
    grid-area: main-texto;

}
.texto-main h1{
    font-size: 8vh;
    color: #63872c;
    font-family: Raleway, sans-serif;
    padding: 3vw;
    text-shadow: 1px 1px 1px black;
}

.txt-promocoes{
    grid-area:txt;
    display: flex;
    width: 100%;
    height: auto;
    justify-content: left;
    align-items: center;
    border-top-style: solid;
    border-color: #63872c;
}

h2{
    font-size: 6vh;
    color: #63872c;
    font-family: Raleway, sans-serif;
    text-align: center;
    padding-left: 2vw ;
    padding-top: 4vh;
    color: black;
    text-shadow: 0px 1px 0px greenyellow;
}


.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 300px;
    width: 80%;
    height: auto;
    border-radius: 23px;
    padding:20px;
    background-color: #4c804596;
    box-sizing: border-box;

}
.card img{
    width: 50%;
    height: auto;
    background-color: transparent;
}
.nome{
    background-color: transparent;
}
.nome h1{
    font-size: 80%;
    background-color: transparent;
    
}
.card span{
    font-size: 100%;
    color: green;
    background-color: transparent;
}
.card button{
    background-color: green;
    border: none;
    border-radius: 15px;
    color: white;
    text-align: center;
    font-size: 100%;
    width: 90%;
    height: 20%;
}
.card button:hover{
    background-color: darkgreen;
    cursor: pointer;
    
}
.card:hover{
    box-shadow: rgba(0, 0, 0, 0.35) 15px 15px 15px;
}

.content{
    display: grid;
    grid-area: content;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 1vh;
    padding: 5vw;
    margin-top: 5vh;
    
}
#footer{
    background-color: black;
    grid-area: footer;
}

@media (max-width: 768px) {
    .container-grid {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(5, auto);
    }

    .content {
        grid-template-columns: 1fr;
}
}